<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biometrie"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:maxSdkVersion="19"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lock"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.biometrie.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.biometrie.Inscription"
            android:label="@string/title_activity_inscription" >
        </activity>
        <activity
            android:name="com.example.biometrie.Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.example.biometrie.Onglet"
            android:label="@string/title_activity_onglet" >
        </activity>
        <activity
            android:name="com.example.biometrie.Connexion"
            android:label="@string/title_activity_connexion" >
        </activity>
        <activity
            android:name="com.example.biometrie.LesUtilisateurs"
            android:label="@string/title_activity_les_utilisateurs" >
        </activity>
        <activity
            android:name="com.example.biometrie.Accueil"
            android:label="@string/title_activity_accueil" >
        </activity>
        <activity
            android:name="com.example.biometrie.InscriptionSon"
            android:label="@string/title_activity_inscription_son" >
        </activity>
    </application>

</manifest>
